# Language & LLMs
langchain==0.1.14
langchain-community==0.0.32
openai==1.30.1
tiktoken==0.5.1

# Vector DB
chromadb==0.4.24
faiss-cpu==1.7.4

# File parsing
pypdf==3.17.4

# SQLite fix (for chromadb)
pysqlite3-binary==0.5.2

# Environment handling
python-dotenv==1.0.1

# Streamlit UI
streamlit==1.33.0
